html {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  div {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  html {
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }
  body {
    margin: 8px;
    display: block;
  }
  #mainHeading {
    color: red;
    text-align: center;
    text-decoration-line: underline;
  }
  .funParagraph {
    color: green;
  }
  
